.homepage {
  position: relative;
  
  /* for fixed nav bar */
  margin-top: 4rem;
}

.slogan-container-1 {
  color: var(--text-selected-color);
  font-size: 4.5rem;
  font-family: var(--primary-font-family);
  position: absolute;
  top: 5%;
  left: 40%;
}

.slogan-container-2 {
  color: var(--text-selected-color);
  font-size: 4.5rem;
  font-family: var(--primary-font-family);
  position: absolute;
  top: 12%;
  left: 50%;
}

.homepage span {
  color: var(--home-slogan-color)
}

#homepage-img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}