.item {
  width: calc(400px + 8rem / 3);
  /* width: 400px; */
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}