.item {
  width: 400px;
  height: max-content;
  padding: 1rem;
}

.item-price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
  padding: 0.1rem;
}

.more-less-btn {
  border: none;
  background-color: var(--home-slogan-color);
  color: var(--text-selected-color);
  padding: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.more-less-btn:hover {
  transform: scale(1.1);
}

.buy-btn {
  border: none;
  background-color: var(--accent-color);
  color: var(--text-selected-color);
  padding: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.buy-btn:hover {
  transform: scale(1.1);
}
