#navbar {
    display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: var(--secondary-font-family);
  font-size: var(--secondary-font-size);
  font-weight: 600;
  
  padding-top: 0.2rem;
  padding-left: 1rem;
  padding-right: 2rem;

  border-bottom: 0.4rem solid orange;
}

.right-nav {
  flex: 1;

  display: flex;
  justify-content: flex-end;
  gap: 5rem;

  box-shadow: 20px gray;

}

.left-nav > img {
  margin-top: -1.2rem;
  margin-bottom: -1.5rem;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: var(--text-primary-color);
  border-bottom: 3px solid transparent;
  padding: 0.5rem;
  margin-bottom: 0.2rem;

  transition: transform 0.1s ease;
}

.link:hover {
  border-bottom: 3px solid black;
}

.selected {
  /* background-color: var(--text-primary-color); */
  /* color: var(--text-selected-color); */
  /* border-radius: 2rem; */
}