#shirts-page, 
#shirts-men-page, 
#shirts-women-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}


.top-page-shirts {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

/* gender links */
.sub-link {
  text-decoration: none;
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
  font-size: var(--primary-font-size);
  padding: 0.5rem;
}

.sub-link.selected {
  background-color: black;
  color: white;
  border-radius: 1rem;
}
