:root {
  /* fonts */
  --primary-font-family: 'Bebas Neue', sans;
  --secondary-font-family: 'Montserrat', sans;

  /* font colors */
  --text-primary-color: #000000;
  --text-selected-color: #FFFFFF;

  /* font sizes */
  --primary-font-size: 2.3rem;
  --secondary-font-size: 1rem;

  /* background-colors */
  --home-slogan-color: orange;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}